# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# Instance folder (Flask DB etc)
instance/

# Uploads (optional, agar GitHub pe nahi chahiye)
uploads/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db