
<!DOCTYPE html>
<html>
<head>
    <title>Manage Courses</title>
</head>
<body>

<h2>Manage Courses</h2>

<table border="1" cellpadding="10">
<tr>
<th>Class</th>
<th>Subject</th>
<th>Chapter</th>
<th>Action</th>
</tr>

{% for note in notes %}

<tr>
<td>{{ note.class_num }}</td>
<td>{{ note.subject }}</td>
<td>{{ note.chapter }}</td>

<td>
<a href="/admin/delete_note/{{ note.id }}">Delete Chapter</a>
<a href="/admin/delete_subject/{{ note.subject }}">Delete Subject</a>
<a href="/admin/delete_class/{{ note.class_num }}">Delete Class</a>
</td>

</tr>

{% endfor %}

</table>

</body>
</html>