<!DOCTYPE html>
<html>
<head>
    <title>All Notes - Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="navbar">
    <h1>Admin - All Notes</h1>
    <a href="/admin">Back</a>
</div>

<div class="container">
    <h3>All Notes</h3>

    {% for note in notes %}
        <div style="border:1px solid #ccc; padding:15px; margin-bottom:10px;">
            <b>Class:</b> {{ note.class_num }} <br>
            <b>Subject:</b> {{ note.subject }} <br>
            <b>Chapter:</b> {{ note.chapter }} <br><br>

            <a href="/admin/delete_note/{{ note.id }}"
               onclick="return confirm('Are you sure?')"
               style="color:red;">
               Delete
            </a>
        </div>
    {% endfor %}

</div>

</body>
</html>