<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="CzSUTRwhoYeuHDC84eJcgH4fY9yzS0dB7OBuwwvreh0" />
    <title>GyanaGhar - Free Learning Platform</title>

<meta name="description" content="Learn Class 6 to 10 subjects free. Notes, chapters, and courses in GyanaGhar.">
<meta name="keywords" content="GyanaGhar, education, notes, class 6, odia learning">
<meta name="author" content="Rahul Nayak">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>

<!-- Terms -->

<p style="text-align:center; font-size:12px; color:#aaa; margin-top:10px;">
    By using this app, you agree to
    <a href="/terms">Terms</a> &
    <a href="/privacy-policy">Privacy Policy</a>
</p>

<!-- HEADER -->

<header class="top-header">
    <div class="logo">GyanaGhar</div>
</header>

<!-- MAIN -->

<div class="main-content">
    <div class="main-container">
        {% block content %}
        {% endblock %}
    </div>
</div>

<!-- BOTTOM NAV -->

<!--<nav class="bottom-nav">-->


<!--<a href="/dashboard" class="nav-item">-->
<!--    <span class="material-icons">home</span>-->
<!--    <small>Home</small>-->
<!--</a>-->

<!--<a href="/class/1" class="nav-item">-->
<!--    <span class="material-icons">menu_book</span>-->
<!--    <small>Courses</small>-->
<!--</a>-->

<a href="/profile" class="nav-item">
    <span class="material-icons">person</span>
    <small>Profile</small>
</a>

<!--<a href="/logout" class="nav-item logout">-->
<!--    <span class="material-icons">logout</span>-->
<!--    <small>Logout</small>-->
<!--</a>-->


<!--</nav>-->

<!-- FOOTER -->

<footer class="footer">
    <a href="/privacy-policy">Privacy Policy</a> |
    <a href="/terms">Terms & Conditions</a> |
    <a href="/about">About Us</a> |
    <a href="/disclaimer">Disclaimer</a>
    <br><br>
    © 2026 GyanaGhar | Built by Rahul Nayak
</footer>

<!-- ACTIVE NAV SCRIPT -->

<script>
    const links = document.querySelectorAll('.nav-item');
    links.forEach(link => {
        if (window.location.pathname === new URL(link.href).pathname) {
            link.classList.add('active');
        }
    });
</script>

<!-- APP MODE DETECTION -->

<script>
    const isApp = /wv|Android|iPhone/i.test(navigator.userAgent);
    if (isApp) {
        document.body.classList.add("app-mode");
    }
</script>

<!-- FADE ANIMATION -->

<script>
    window.addEventListener("load", function () {
        document.body.style.opacity = "1";
    });
</script>

</body>
</html>
