<!DOCTYPE html>
<html>
<head>
    <title>Chapters - GyanaGhar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="navbar">
    <h1>GyanaGhar 🎓</h1>
    <div>
        <a href="/dashboard">Home</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="container">
    <h3>Class {{ class_num }} - {{ subject }}</h3>

    <div class="card-container">
        {% for chapter in chapters %}
            <div class="card">
                <a href="/class/{{ class_num }}/{{ subject }}/{{ chapter }}">
                    📖 {{ chapter }}
                </a>
            </div>
        {% endfor %}
    </div>

    <br>
    <a href="/class/{{ class_num }}">⬅ Back</a>
</div>

</body>
</html>