{% extends "base.html" %}

{% block content %}

<div class="card">

<h2>🗑 Deleted Users</h2>

<table style="width:100%">
<tr>
    <th>Email</th>
    <th>Action</th>
</tr>

{% for user in users %}
<tr>
    <td>{{ user.email }}</td>
    <td>

        <form method="POST" action="/admin/restore_user/{{ user.id }}">
            <button onclick="return confirm('Restore this user?')">
                 Restore
            </button>
        </form>

    </td>
</tr>
{% endfor %}

</table>

</div>

{% endblock %}